<div class="error-info">
  <div class="stat d-flex flex-column mb-3 text-primary">
    <p class="my-0">
      <strong>
        {{ failCount }} out of {{ totalCount }} submissions have failed.
      </strong>
    </p>
    <p class="my-0">
      To view your badge collection code, you may edit or remove your entries,
      and click Register.
    </p>
  </div>
  <p class="my-0 text-primary"><strong>Note:</strong></p>
  <p class="my-0">
    Do not refresh the page, as doing so may result in the loss of all your
    records.
  </p>
</div>
