<div
  id="success-modal"
  class="modal"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex flex-column align-items-stretch text-center">
          <div
            id="code-canvas"
            class="code-canvas d-flex flex-column align-items-center justify-content-center"
          >
            <h5 class="reg-title">Registration Completed</h5>
            <span class="reg-label">Your unique code is</span>
            <strong
              class="reg-code d-inline-flex align-items-center justify-content-center gap-3"
            >
              @for (letter of groupRegCode; track $index) {
              <span>{{ letter }}</span>
              }
            </strong>
          </div>
          <button
            class="btn btn-primary text-white bg-primary border-0"
            style="height: 48px"
            (click)="handleSaveAsImage()"
          >
            Save as Image
          </button>
          <button
            class="btn text-primary bg-transparent p-0 border-0 align-self-center mt-2"
            (click)="closeModal.emit()"
          >
            Back to Home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
