.company-select {
  padding: 16px 14px;
  gap: 14px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  .label-title {
    font-size: 12px;
    font-weight: 500;
  }
  .company-desc {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  select {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d8d6de;
    height: 46px;
  }
}
