<app-banner />
<main class="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <h2 class="title text-primary mb-3">Onsite Exhibitors Registration</h2>
        <company-select
          [events]="events"
          [companies]="companies"
          (selectEvent)="handleSelectEvent($event)"
          (selectCompany)="handleSelectCompany($event)"
        />
        @if (selectedEvent && selectedCompany) {
        <hr class="my-4" />

        <span>* All fields are mandatory.</span>
        <div class="d-flex flex-column"></div>

        <div class="d-flex justify-content-center my-4">
          <button
            class="btn d-inline-flex align-items-center text-primary bg-transparent p-0 gap-1 border-0"
          >
            <i class="bi bi-plus-circle"></i>
            <span>Add Exhibitor</span>
          </button>
        </div>

        <hr />

        <button class="btn btn-register w-100 mt-1 text-white bg-primary">
          Register
        </button>
        }
      </div>
    </div>
  </div>
</main>

<router-outlet />
