<app-banner />
<main class="main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <h2 class="title text-primary mb-3">Onsite Exhibitors Registration</h2>
        <company-select
          [events]="events"
          [companies]="companies"
          (selectEvent)="handleSelectEvent($event)"
          (selectCompany)="handleSelectCompany($event)"
        />
        @if (selectedEvent && selectedCompany) {
        <hr class="my-4" />
        <span>* All fields are mandatory.</span>
        }
      </div>
    </div>
  </div>
</main>

<router-outlet />
