.title {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.exhibitor-form {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: var(--box-shadow);

  .exhibitor-form-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 16px 14px;
    background-color: #fde8e7;
    h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
    button {
      text-underline-offset: 2px;
    }
  }

  .exhibitor-form-body {
    padding: 16px 14px 24px 14px;
    gap: 14px;

    .form-group {
      label {
        font-size: 12px;
        font-weight: 500;
        line-height: 150%;
      }
      input,
      select {
        background-color: #fff;
        border-radius: 6px;
        border: 1px solid #d8d6de;
        height: 46px;
        &.ng-invalid.ng-touched {
          border-color: #ee4036;
        }
      }
      .form-text,
      .fail-message {
        color: #ff0404;
      }
    }
  }
}

#success-modal {
  .code-canvas {
    padding: 32px 16px;
    height: 200px;

    .reg-title {
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 24px;
    }
    .reg-label {
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 8px;
    }
    .reg-code {
      color: #ee4036;
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 16px;
      margin-bottom: 16px;
    }
  }
}
